 /* Navbar style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 1440px;
  height: 71; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f6fc;
  color: #333;
/* color: rgba(0, 0, 0, 0.5); */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f3f6fc;
}

.logo img {
  height: 50px;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar .active {
  font-weight: bold;
}

.cart {
  font-weight: 600;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  background-color: #f3f6fc;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.bold {
  font-weight: 800;
  color: #000;
}

.orange {
  color: #f26522;
  font-weight: 800;
}

.hero-text p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.hero-image img {
  width: 500px;
  max-width: 100%;
  height: auto;
}
